---
import { getEntry } from "astro:content"

const biographia = await getEntry("biography", "biography")
const { img, name, birthyear, deathyear, biography } = biographia.data
---
<div
  class="flex justify-center items-center mx-auto relative profile-container"
>
  <div class="border-4 border-[#a8955e] rounded-full overflow-hidden w-32 h-32 md:w-48 md:h-48">
    <div
      class="w-full h-full bg-center bg-no-repeat bg-cover "
      style={img}
    >
    </div>
  </div>
</div>

<h1
  class="font-dancingScript text-[#0e0e1b] text-2xl md:text-[28px] font-bold leading-tight tracking-[-0.015em] text-center pb-3 pt-5"
>
    {name}
</h1>

<p
  class="text-[#505095] text-sm font-normal leading-normal text-center pb-1 pt-1 border-t-2 border-b-2 border-solid border-[#a8955e] max-w-[100px] mx-auto"
>
  {birthyear} - {deathyear}
</p>

<h2
  class="text-[#0e0e1b] text-xl md:text-[22px] font-bold leading-tight tracking-[-0.015em] pb-3 pt-5 mx-auto"
>
  BIOGRAFÍA
</h2>
<p class="text-[#0e0e1b] text-base font-normal leading-normal pb-3 pt-1">
    {biography}
</p>
